@import "old/style.css";

.bar-top .modules-left,
.bar-top .modules-center,
.bar-top .modules-right {
  background: rgba(30, 30, 46, 0.9);
  margin: 2px 3px;
  padding: 2px 8px;
  border-radius: 0 0 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.bar-top .modules-right {
  border-radius: 0 0 0 12px;
}
.bar-top .modules-left {
  border-radius: 0 0 12px 0;
}

#group-top-center {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#group-top-center #clock.date {
  font-size: 6px;
  font-weight: normal;
  color: #a6e3a1;
  padding: 0;
  margin: 0;
}

.title-block {
  margin-top: 1px;
  margin-bottom: 0px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 350px;
  padding: 1px 12px;
}

window#waybar.solo .title-block {
  color: #eee8d5;
  background-color: #073642;
}

window#waybar.floating .title-block {
  color: #eee8d5;
  background-color: #b58900;
}

window#waybar.tiled .title-block {
  color: #eee8d5;
  background-color: #334b16;
}

window#waybar.stacked .title-block {
  color: #eee8d5;
  background: #2aa196;
}

.title-block #clock.time {
  font-size: 11px;
  font-weight: bold;
  color: #cba6f7;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0 8px 0 0;
}

window#waybar .title-block #window {
  font-size: 10px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.bar-top .modules-center {
  padding: 1px 6px;
  margin: 0px 3px;
}

#custom-ddc-brightness-icon,
#custom-ddc-contrast-icon {
  margin-right: 6px;
  margin-left: 6px;
}

#custom-ddc-brightness,
#custom-ddc-contrast {
  margin-left: 2px;
  margin-right: 12px;
  font-size: 8px;
}
